/*tags*/

body{
background-image:url('newimages/background_iris.gif');
background-repeat:repeat-x;
font-family:"Trebuchet MS"
}

h2{
padding:20px;text-align:center;
font-weight:normal;
}

h3{
font-weight:normal;	
}

h4{
color:blue;
}

strong{
color:red;
}

th{
color:maroon;
font-weight:normal;
padding:2px;
}

/*classes*/

.rightfloat{
float:right;
margin:4px
}

.leftfloat{
float:left;
margin:4px
}

.center{
clear:both;
display:block;
margin-left:auto;
margin-right:auto;
text-align:center;
}

.ctable{
margin:0px auto;
padding:2px;
}

.blueclass{
color:blue;
}

.redclass{
color:red;
}


.boxparagraph{
clear:both;
padding:5px;
border: 2px solid red;
}