html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#can1 {
  width: 100vw;
  height: 100vh;
  display: block;
}

#div1 {
  position: absolute;
  top: 102px;
  right: 16px;
  width: 244px;
  height: 24 background-color: white;
}

#div2 {
  position: absolute;
  top: 126px;
  right: 16px;
  width: 244px;
  background-color: #deb887;
}

h3 {
  text-align: left;
  font-weight: bold;
  color: red;
}

p {
  text-align: left;
  font-weight: normal;
  color: black;
}